<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con TAC, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                        ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999</h2>
                    <p>Solo por estar registrado en TAC tenés envíos gratis en miles de productos. Es un
                        beneficio de TAC.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En TAC, no hay nada que no puedas hacer, porque estás
                        siempre protegido.</p>
                </article>
            </div>
        </div>
    </div>
</footer>

    <footer>
    <h3>Cagnoli Hernan Agustin, Gajer Tali y Serpe Carolina Ines</h3>
    <h3>Estudiantes de Negocios Digitales</h3>  
    </footer>
</body>
</html>