<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado.ejs")  %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12 add-product-container"> 
				<div>
					<form action="/products/product-add" method="post">
						<div>
							<label for="imagen">Imagen:</label>
							<input type="text" name="imagen" id="imagen" placeholder="Imagen" class="input">
						</div>
						<div>
							<label for="nombreproducto">Nombre del producto:</label>
							<input type="text" name="Nombre del producto" id="Nombre del producto" placeholder="Nombre del producto" class="input">
						</div>
						<div>
							<label for="descripcion">Descripcion:</label>
							<input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" class="input">
						</div>
						<div>
							<label for="fecha">Fecha:</label>
							<input type="date" name="fecha" id="fecha" placeholder="Fecha" class="input">
						</div>
						<div>
							<input type="submit" value="Enviar" class="input">
						</div>
						
					</form>
				</div>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>