<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<header>
		<%- include('./partials/header') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/profile" method="get" class="formRegister">
				<input type="email" name="email" id="email" placeholder="e-mail" class="input">
				<input type="text" name="usuario" id="nombre de usuario" placeholder="Nombre de Usuario" class="input">
				<input type="password" name="password" id="contraseña" placeholder="Contraseña" class="input">
				<input type="date" name="fecha de nacimiento" id="fecha de nacimiento" placeholder="Fecha de nacimiento" class="input">
				<input type="number" name="dni" id="dni" placeholder="DNI" class="input">
				<input type="text" name="fotoPerfil" id="foto de perfil" placeholder="Foto de perfil" class="input">
				<input type="submit" value="Enviar" class="input">
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>